@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_CRUD.styles.css" asp-append-version="true" />
</head>
<body>
    @{
        if (Accessor.HttpContext.Session.GetInt32("logged") == 1)
        {
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                <ul class="navbar-nav flex-grow-1">
                                    @{
                                        if (Accessor.HttpContext.Session.GetInt32("isadmin") == 1)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link text-white" asp-area="" asp-controller="Register" asp-action="Index">Пользователи</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-white" asp-area="" asp-controller="OrdersInfo" asp-action="Index">Заказы</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-white" asp-area="" asp-controller="Item" asp-action="Index">Товары</a>
                                            </li>
                                        }
                                    }
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Cart" asp-action="Index">
                                            @{
                                                string s = "";
                                                int? count = Accessor.HttpContext.Session.GetInt32("count");
                                                if (count != null && count != 0)
                                                    s = "(" + count + ")";
                                            }
                                            
                                        Корзина @s</a>
                                    </li>
                                </ul>
                            @{
                                if (Accessor.HttpContext.Session.GetInt32("logged") == 1)
                                {
                                    <ul class="navbar-nav">
                                        <li>
                                            <p class="nav-link text-white">Добро пожаловать, @Accessor.HttpContext.Session.GetString("user")!</p>
                                        </li>
                                        <li>
                                            <a class="nav-link text-white" asp-controller="Auth" asp-action="Leave">Выйти</a>
                                        </li>
                                    </ul>
                                }
                            }
                        </div>
                    </div>
                </nav>
            </header>
        }
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>





@*<li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Master" asp-action="Index">Мастер-страница</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Master" asp-action="First">Страница 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Master" asp-action="Second">Страница 2</a>
    </li>*@