@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Опачки...</h1>
<h2>Кажется, вы пытаетесь купить больше товаров, чем есть на складе</h2>
<h2>Либо кто-то успел купить их раньше вас</h2>