@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Опачки...</h1>
<h3>Кажется, вы пытаетесь купить больше товаров, чем есть на складе</h3>
<h3>Либо кто-то успел купить их раньше вас</h3>
<h2><a href="@Url.Action("Index","Home")">Назад к покупочкам</a></h2>