@page
@model MVC_CRUD.Controllers.MasterController
@{
}

<div class="row text-center">
    <div class="col" style="border: 1px dashed black">@ViewBag.value1</div>
    <div class="col" style="border: 1px dashed black">@ViewBag.value2</div>
</div>