@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Привет =)</h1>
    <p>У нас намечается новогодняя вечеринка. Ты приглашен!</p>
    <p>В связи с этим настоятельно рекомендую заполнить <a asp-controller="RSVP" asp-action="Form">эту форму</a></p>
</div>

