@model IEnumerable<MVC_CRUD.Models.Item>

@{
    ViewData["Title"] = "Home Page";
}
<div class="container row">
    @foreach (var item in Model)
    {
    <div class="col d-flex flex-column text-center justify-content-around " style="border: 1px solid crimson">
        <p>@item.Title</p>
        <p>@item.Desc</p>
        <p>@item.Price</p>
        <p>@item.Qty</p>
        @if (item.Qty > 0)
        {
            <button>В корзину</button>
         }
         else
            {
                <button class="text-danger" disabled>Раскупили...</button>
            }
    </div>
    }

</div>