@model MVC_CRUD.Models.Register
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Регистрация</h1>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <div class="mb-3">
                    <input placeholder="Фамилия" class="form-control" type="text" asp-for=Surname />
                    <span asp-validation-for=Surname class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input placeholder="Имя" class="form-control" type="text" asp-for=Name />
                    <span asp-validation-for=Name class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input placeholder="Отчество" class="form-control" type="text" asp-for=Patro />
                    <span asp-validation-for=Patro class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input placeholder="Телефон" class="form-control" type="tel" asp-for=Phone />
                    <span asp-validation-for=Phone class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input placeholder="Email" class="form-control" type="email" asp-for=Email />
                    <span asp-validation-for=Email class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input placeholder="Пароль" class="form-control" type="password" asp-for=Password />
                    <span asp-validation-for=Password class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input placeholder="Подтверждение пароля" class="form-control" type="password" asp-for=ConfirmPassword />
                    <span asp-validation-for=ConfirmPassword class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input class="btn btn-success" asp-controller="Auth" asp-action="NewUser" type="submit" value="Зарегистрироваться!" />
                </div>
                <div class="mb-3">
                    Уже есть аккаунт?
                    <input class="btn btn-secondary" asp-controller="Auth" asp-action="Login" type="submit" value="Войти" />
                </div>
            }
        </div>
    </div>
</div>